.main-title {
  width: 97%;
  height: 60px;
  margin: 40px auto;
  font-size: 13px;
}

.main-grid {
  width: 97%;
  height: 3568px;
  margin: auto;
  /* background-color: bisque; */
  display: flex;
  gap: 20px;
}
.side-bar {
  width: 270px;
  height: 600px;
  /* background-color: blueviolet; */
  position: relative;
  top: 80px;
  border-top: 1px solid;
  border-color: lightgray;
  overflow: auto;
  .side-bar-menu {
    width: 100%;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    
  }
}

.side-bar-menu-item{
    width: 96%;
    height: 100px;
    background-color: lightpink;
    margin: auto;
}

.main-grid-left {
  width: calc(100% - 270px);
  height: 3568px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}
.grid-kala {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  border-top: 1px solid;
  border-color: lightgrey;
  .each-kala {
    background-color: white;
  }
}
.filter {
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  .sub-filter-right {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 15px;
    .sub-filter {
      color: rgb(154, 153, 153);
    }
  }
}
.sub-f-first {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black !important;
}
.tedad-kol {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(154, 153, 153);
}

