.main-title {
  width: 97%;
  height: 60px;
  margin: 30px auto 0px;
  font-size: 13px;
}

.main-grid {
  width: 97%;
  margin: auto;
  display: flex;
  gap: 20px;
}
.side-bar {
  width: 270px;
  height: 650px;
  position: relative;
  top: 80px;
  border-top: 1px solid;
  border-color: lightgray;
  overflow: auto;
  .side-bar-menu {
    width: 100%;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.side-bar-menu-item {
  width: 90%;
  margin: auto;
  padding: 15px 10px;
  & h2 {
    font-size: 16px;
  }
  & h3 {
    font-size: 13px;
    margin-left: 5px;
  }
  & p {
    font-size: 11px;
    color: var(--gray-800);
    margin-top: 10px;
  }
}
.brd {
  border-top: 1px solid var(--gray-500);
}
.dokme {
  width: 40px;
  height: 20px;
  border: 2px solid var(--gray-800);
  border-radius: 9999px;
  
  .sub-dokme {
    width: 10px;
    height: 10px;
    background-color: var(--gray-800);
    border-radius: 50%;
    margin: 3px auto 2px 4px;
  }
}

.side-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & svg {
    fill: var(--gray-800) !important;
  }
}

.main-grid-left {
  width: calc(100% - 270px);
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}
.grid-kala {
  height: 3400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1px;
  border-top: 1px solid;
  border-color: lightgrey;
  .each-kala {
    background-color: white;
  }
}
.filter {
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  .sub-filter-right {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 15px;
    .sub-filter {
      color: rgb(154, 153, 153);
    }
  }
}
.sub-f-first {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black !important;
}
.tedad-kol {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(154, 153, 153);
}
