.sh-main {
  margin-top: 168px;
}

.banner {
  width: 100%;
  height: 64px;
  background-image: linear-gradient(to top, #ef4056, #ef394e);
  object-fit: cover;
  display: flex;
  justify-content: center;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #000; */
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  /* color: #fff; */
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  .dif {
    .d-cap {
      margin-top: 10px;
    }
    .d-pic {
      margin-top: 20px;
    }
  }

  .swiper-slide {
    margin-top: 20px;
    width: 114px;
    height: 166px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    /* background: #444; */
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin-top: 15px;
    }
    img {
      display: block;
      width: 90px;
      height: 100%;
      object-fit: cover;
    }
  }
}

.first {
  width: 110px;
  height: 160px;
  margin-right: 10px;
  background-color: #f0f0f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .d-pic{
    margin-top: 20px;
  }
}
