.part5 {
  width: 97%;
  height: 76px;
  margin: 0 auto;
  background-color: var(--blue-800);
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-evenly;
}
.app-dl {
  display: flex;
  gap: 20px;
  width: 380px;
  height: 44px;
  .smile {
    padding-right: 5px;
    & img {
      width: 44px;
      height: 44px;
      object-fit: cover;
    }
  }
  .download {
    & p {
      line-height: 44px;
      font-size: 20px;
      color: var(--white);
    }
  }
}

.dl-src {
  width: 870px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  & svg {
    display: flex;
    width: 142px;
    height: 44px;
    align-items: center;
  }
}

.senoqte {
  background-color: var(--white);
  width: 42px;
  height: 44px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
