.footer-bottom {
  height: 160px;
  background-color: var(--gray-500);

  .part8 {
    width: 98%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
    margin: 0 auto;
    background-color: var(--gray-300);
  }
  .brand {
    background-color: var(--gray-500);
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      height: 20px;
      width: 85px;
    }
  }
}
