.part4 {
  width: 97%;
  height: 270px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.p4box {
  line-height: 38px;
  justify-content: flex-start;
}
.menu {
  list-style: none;
  .menu-item {
    font-size: 13px;
    color: var(--white-300);
  }
}

.social {
  height: 72px;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  margin-bottom: 5px;
  svg {
    fill: var(--white-300) !important;
  }
}

.email-btn {
  padding: 10px;
  .email {
    display: flex;
    justify-content: space-between;
    .mailbox {
      background-color: var(--gray-500);
      width: 265px;
      height: 48px;
      border-radius: 10px;
      display: flex;
      padding: 10px;
      & input {
        border: none;
        width: 100%;
        background-color: transparent;
      }
    }
  }
}
.submit-btn {
  width: 63px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  & input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--white-600);
  }
}
.jomle1,
.jomle2,
.menu {
  color: var(--blue-900);
  font-size: 18px;
}
