.megamenu {
  height: 100%;
  border-bottom: 3px solid;
  border-color: transparent;
  &:hover {
    cursor: pointer;
    border-color: crimson;
  }
  &:hover .mega-menu {
    display: flex;
  }
  &:hover .left-mobile {
    display: block;
  }
}

.mega-menu {
  display: none;
  width: 79%;
  height: 500px;
  /* background-color: lightgoldenrodyellow; */
  position: absolute;
  top: 168px;
  .right-side {
    width: 200px;
    height: 100%;
    border-bottom-right-radius: 15px;
    background-color: rgb(233, 231, 231);
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-size: 13px;
    direction: ltr;
    /* gap: 20px; */
    justify-content: space-evenly;
    & > * {
      width: 200px;
      height: 26.31px;
      display: flex;
      align-items: center;
      gap: 5px;
      /* background-color: blue; */
      padding: 23px 5px;
      transition-duration: 300ms;
      direction: rtl;
    }
  }
}

.right-side > *:hover {
  background-color: whitesmoke;
  color: crimson;
  svg {
    fill: crimson !important;
  }
}

.left-side {
  display: flex;
  width: calc(100% - 200px);
  height: 100%;
  /* background-color: lightcoral; */
  position: absolute;
  right: 200px;
  flex-direction: column;
  /* .left-mobile {
    width: 100%;
  }
  .left-laptop {
    width: 75%;
  } */
}

.first-line {
  height: 60px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  font-size: 13px;
  color: #0d4485;
}
.left-mobile,
.left-laptop {
  display: none;
  overflow: auto;
  background-color: whitesmoke;
  border-bottom-left-radius: 15px;
  padding-bottom: 7px;
  direction: ltr;
  * {
    direction: rtl;
  }
}
.left-mobile .main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.mega-menu:has(.mobile:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}
.mega-menu:has(.kalaye-digital:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}
.mega-menu:has(.lavazem-khanegi:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}
.mega-menu:has(.mod:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}
.mega-menu:has(.tala:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}
.mega-menu:has(.salamat:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}
.mega-menu:has(.ketab:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}
.mega-menu:has(.gift-card:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}
.mega-menu:has(.asbab-bazi:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}
.mega-menu:has(.petshop:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}

.radif {
  display: flex;
  flex-direction: column;
  gap: 20px;
  ul {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
    list-style: none;
    .esm {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: bold;
      span {
        &:nth-of-type(1) {
          color: crimson;
        }
      }
    }
  }
  li {
    color: rgb(86, 85, 85);
  }
}

.left-side {
  li:hover {
    color: crimson;
  }
  .esm:hover {
    color: crimson;
  }
}



.mega-menu:has(.laptop:hover) .left-laptop,
.left-laptop:hover {
  display: block;
}
.mega-menu:has(.laptop:hover, .khane-ashpazkhane:hover, .arayeshi:hover, .tahrir:hover, .khodro:hover, .abzar:hover, .varzesh:hover, .supermarket:hover, .mahali:hover) .left-mobile{
  display: none;
}
.mega-menu:has(.khane-ashpazkhane:hover) .left-laptop,
.left-laptop:hover {
  display: block;
}
.mega-menu:has(.arayeshi:hover) .left-laptop,
.left-laptop:hover {
  display: block;
}
.mega-menu:has(.tahrir:hover) .left-laptop,
.left-laptop:hover {
  display: block;
}
.mega-menu:has(.khodro:hover) .left-laptop,
.left-laptop:hover {
  display: block;
}
.mega-menu:has(.abzar:hover) .left-laptop,
.left-laptop:hover {
  display: block;
}
.mega-menu:has(.varzesh:hover) .left-laptop,
.left-laptop:hover {
  display: block;
}
.mega-menu:has(.supermarket:hover) .left-laptop,
.left-laptop:hover {
  display: block;
}
.mega-menu:has(.mahali:hover) .left-laptop,
.left-laptop:hover {
  display: block;
}

.left-laptop .main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
