.sec7 {
  /* width: 100%; */
  height: 314px;
  margin-top: 30px;
  .container {
    /* width: 100%; */
    height: 100%;
    background-color: var(--green);
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    gap: 2px;
    .side-box {
      width: 166px;
      height: 100%;
      /* background-color: aqua; */
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
      .sb1 {
        width: 95%;
        height: 120px;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 64px;
          height: 64px;
        }
      }
    }
  }
  .sb2,
  .sb3,
  .sb4 {
    width: 95%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sb2 > img {
  width: 126px;
  height: 28px;
}
.time:nth-child(1),
.time:nth-child(3),
.time:nth-child(5) {
  width: 26px;
  height: 26px;
  background-color: var(--white);
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
}
.time:nth-child(2),
.time:nth-child(4) {
  color: var(--white);
  font-size: 20px;
  padding: 0px 2px;
}

.sb4 {
  .txt-icon {
    width: 110px;
    height: 32px;
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      width: 16px;
      height: 16px;
    }
    & p {
      font-size: 12px;
    }
  }
}

.s2 {
  width: 90%;
  height: 300px;
  margin-left: 0;
  padding-top: 20px;
}

.s2 .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 274px;
  overflow: hidden;
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.last-slide {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  & p {
    font-size: 13px;
    line-height: 50px;
  }
}

.first-slide {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
