.sec10 {
  height: 220px;
  border: 1px solid var(--white-200);
  border-radius: 20px;
  margin-top: 24px;
  .sec10-txt {
    height: 70px;
    display: flex;
    padding-right: 15px;
    align-items: center;
    gap: 3px;
  }
  .sec10-slider {
    width: 100%;
    height: calc(100% - 70px);
  }
}


.s-sec10 {
  width: 97%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-prev {
  left: 20px;
}

.s-sec10 .swiper-slide {
  width: 90px !important;
  height: 124px !important;
  margin-left: 15px;
  border: 1px solid;
  border-color: var(--white-200);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  .brand-name {
    padding-bottom: 5px;
    font-size: 13px;
  }
}

.s-sec10 .swiper-navigation-icon {
  display: none !important;
}

.s-sec10 .swiper-button-next,
.s2 .swiper-button-prev {
  fill: var(--gray);
  &:hover {
    fill: var(--black);
  }
}

.s-sec10 .swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}
.s-sec10 .swiper-button-next,
.s-sec10 .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--gray);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}
.brand-name{
  color: var(--blue-900);
  font-weight: bolder;
}
