
.kala-card{
  width: 301.5px;
  height: 296px;
  margin-right: 50px;
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.k-img{
  width: 88px;
  height: 88px;
  margin-top: 0px;
  
  & img{
    width: 88px !important;
    height: 88px !important;
  }
}
.kala{
  display:flex;
  gap: 10px;
  align-items:center;
  top: 10px;
}
.k-txt{
  font-size: small;
  width: 60%;
  display:flex;
  flex-flow: row wrap;
  gap: 10px;
  line-height: 25px;
  .num{
    width: 25px;
    height: 25px;
    background-color: #ef4055;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    margin-left: 10px;
  }
  & p{
    display: inline;
    text-align:start;
    
  }
}