.sec8 {
  /* width: 100%; */
  /* background-color: lightcoral; */
  margin-top: 24px;
  .text {
    padding-top: 5px;
    font-weight: bolder;
    /* width: 100%; */
    height: 70px;
    /* background-color: blueviolet; */
  }
}
.dasteha {
  width: 100%;
  height: 288px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 3px;
  .daste {
    width: 100%;
    /* background-color: aqua; */
    & figure {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 20px;
      & img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
}
