.sec5 {
  width: 100%;
  background-color: var(--creamy);
  height: 400px;
  border-radius: 20px;
  .radif1 {
    display: flex;
    gap: 7px;
    font-size: large;
    font-weight: 700;
    padding: 15px 20px 5px;
  }
  .radif2 {
    margin: 0px 10px;
    padding: 13px 0px;
    background-color: var(--creamy-200);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    .right {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-right: 10px;
      .icon {
        background-color: var(--brown-300);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: var(--white);
      }
    }
    .left {
      display: flex;
      gap: 5px;
      padding-left: 5px;
      align-items: center;
      .txt {
        height: 100%;
        color: var(--brown-300);
      }
      .icon1 {
        padding-top: 3px;
      }
    }
  }
  .radif3 {
    opacity: 0.5;
    overflow: hidden;
    .sec3-s {
      width: 100%;
      margin-top: 10px;
      .swiper-slide {
        border-radius: 10px;
      }
      .first-slide {
        margin-right: 10px;
      }
    }
  }
}
