.sec3 {
  width: 100%;
  height: 314px;
  margin-top: 30px;
  .container {
    width: 100%;
    height: 100%;
    background-color: #d62e4e;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    gap: 2px;
    .side-box {
      width: 166px;
      height: 100%;
      /* background-color: aqua; */
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
      .sb1 {
        width: 95%;
        height: 120px;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 64px;
          height: 64px;
          object-fit: cover;
        }
      }
    }
  }
  .sb2,
  .sb3,
  .sb4 {
    width: 95%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sb2 > img {
  width: 126px;
  height: 28px;
}
.time:nth-child(1),
.time:nth-child(3),
.time:nth-child(5) {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
}
.time:nth-child(2),
.time:nth-child(4) {
  color: white;
  font-size: 20px;
  padding: 0px 2px;
}

.sb4 {
  .txt-icon {
    width: 110px;
    height: 32px;
    background-color: bisque;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      width: 16px;
      height: 16px;
    }
  }
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.s2 {
  width: 90%;
  height: 300px;
  margin-left: 0;
  padding-top: 20px;
  &:hover {
    cursor: pointer;
  }
}

.s2 .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 274px;
}

.s2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.s2 .swiper-button-next,
.s2 .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid;
  border-color: gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.s2 .swiper-navigation-icon {
  display: none !important;
}

.s2 .swiper-button-next,
.s2 .swiper-button-prev {
  fill: gray;
  &:hover {
    fill: black;
  }
}

.s2 .swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}

.s2 .swiper-slide {
  width: 164px !important;
  height: 274px !important;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  .tozih {
    font-size: 14px;
    text-align: right;
    padding: 7px;
  }
}
/* ------------------------------------------------ */
.fi-off {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 40px;
  color: gray;
  gap: 5px;
  .off {
    font-size: 12px;
    padding: 1px 7px 0px;
    background-color: red;
    color: white;
    border-radius: 99999px;
  }
  .fi {
    font-size: 13px;
    text-decoration: line-through;
  }
}
.final-fi {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-left: 6px;
}
.ax {
  width: 164px;
  height: 164px;
  object-fit: contain;
  & img {
    width: 100%;
    height: 100%;
  }
}
