.sec3 {
  /* width: 100%; */
  height: 314px;
  margin-top: 30px;
  .container {
    /* width: 100%; */
    height: 100%;
    background-color: var(--red);
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    gap: 2px;
  }
  .side-box {
    width: 166px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-shrink: 0;
    .sb1 {
      width: 95%;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        width: 64px;
        height: 64px;
        object-fit: cover;
      }
    }
    .sb2,
    .sb3,
    .sb4 {
      width: 95%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.sec3 .sb2 > img {
  width: 126px;
  height: 28px;
}
.sec3 .time:nth-child(1),
.sec3 .time:nth-child(3),
.sec3 .time:nth-child(5) {
  width: 26px;
  height: 26px;
  background-color: var(--white);
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
}
.sec3 .time:nth-child(2),
.sec3 .time:nth-child(4) {
  color: var(--white);
  font-size: 20px;
  padding: 0px 2px;
}
.sec3 .sb4 .txt-icon {
  width: 110px;
  height: 32px;
  /* background-color: bisque; */
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  & svg {
    width: 16px;
    height: 16px;
  }
}

.sec3-slider {
  flex: 1;
  min-width: 0;
  height: 100%;
  margin-top: 20px;
}

.sec3-s {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.sec3-s .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.sec3-s .swiper-slide {
  width: 164px;
  height: 274px;
  flex-shrink: 0;
  background: var(--white);
  overflow: hidden;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.sec3-s .swiper-slide .tozih {
  font-size: 14px;
  text-align: right;
  padding: 7px;
}
.sec3-s .ax {
  width: 164px;
  height: 164px;
}
.sec3-s .ax img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.sec3-s .swiper-button-next,
.sec3-s .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  fill: var(--gray);
}
.sec3-s .swiper-button-prev {
  right: 8px;
  left: auto;
}
.sec3-s .swiper-button-next {
  left: 8px;
  right: auto;
}
.sec3-s .swiper-button-next:hover,
.sec3-s .swiper-button-prev:hover {
  fill: var(--black);
}

.sec3-s .swiper-button-next::after,
.sec3-s .swiper-button-prev::after {
  content: "";
}
.sec3-s .swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}

.sec3-s .fi-off {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 7px;
  color: var(--gray);
  gap: 5px;
  margin-left: 40px;
  .fi {
    font-size: 13px;
    text-decoration: line-through;
  }
  .off {
    font-size: 12px;
    padding: 1px 7px 0px;
    background-color: var(--red-400);
    color: var(--white);
    border-radius: 99999px;
  }
}
.sec3-s .final-fi {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-left: 6px;
}
/* ------------------------------------------------ */
.ax {
  width: 164px;
  height: 164px;
  object-fit: contain;
  & img {
    width: 100%;
    height: 100%;
  }
}
