.sec12,
.sec13,
.sec14,
.sec15,
.sec16,
.sec17,
.sec18,
.sec19 {
  height: 387px;
  margin-top: 24px;
  border: 1px solid var(--gray-600);
  border-radius: 20px;
  .sec12-bottom {
    .sec3-s {
      width: 98%;
      .swiper-wrapper {
        .swiper-slide {
          border: 1px solid;
          border-radius: 10px;
          border-color: var(--white-200);
        }
        .last-slide {
          border: unset;
        }
      }
    }
  }

  .sec12-top {
    height: 75px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sec12-txt {
      line-height: 30px;
      & h2{
        font-size: 18px;
        font-weight: bolder;
      }
      & p {
        color: var(--gray-700);
        font-size: 15px;
      }
    }
    .sec12-box {
      font-size: 12px;
      padding: 7px;
      border-radius: 7px;
      display: flex;
      background-color: var(--white-400);
      color: var(--gray-700);
      & svg {
        padding-bottom: 3px;
        fill: var(--gray-700) !important;
      }
    }
  }

  .sec12-bottom {
    width: 100%;
    height: calc(100% - 75px);
    /* background-color: tomato; */
  }
}
