.sec12,
.sec13,
.sec14,
.sec15,
.sec16,
.sec17,
.sec18,
.sec19 {
  width: 100%;
  height: 387px;
  /* background-color: yellow; */
  margin-top: 24px;
  border: 1px solid;
  border-radius: 20px;
  .sec12-bottom {
    .s2 {
      width: 98%;
      .swiper-wrapper {
        .swiper-slide {
          border: 1px solid;
          border-radius: 10px;
          border-color: lightgray;
        }
      }
    }
  }

  .sec12-top {
    width: 100%;
    height: 75px;
    padding: 25px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sec12-txt {
      line-height: 30px;
      & p {
        color: rgb(100, 99, 99);
      }
    }
    .sec12-box {
      padding: 10px;
      border-radius: 10px;
      display: flex;
      background-color: rgb(237, 235, 235);
      color: rgb(69, 68, 68);
      & svg {
        fill: rgb(69, 68, 68) !important;
      }
    }
  }

  .sec12-bottom {
    width: 100%;
    height: calc(100% - 75px);
    /* background-color: tomato; */
  }
}
