@font-face {
  font-family: yekan;
  src: url(../../../public/fonts/IRANYekanWeb.eot);
  src: url(../../../public/fonts/IRANYekanWeb.ttf);
  src: url(../../../public/fonts/IRANYekanWeb.woff);
  src: url(../../../public/fonts/IRANYekanWeb.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yekan;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.poshtibani {
  border-radius: 50%;
  background-color: blue;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 999;
  background: linear-gradient(150deg, #7f53ef 14.63%, #2586ff 100%);
  & svg{
    width: 25px;
  }
}

:root{
  --gray: #444;
  --gray-900: rgb(211, 211, 211);
  --gray-800:rgb(128, 128, 128);
  --gray-700:rgb(85, 85, 85);
   --gray-600:rgb(188, 188, 188);
   --gray-500:rgb(241, 239, 239);
   --gray-400:#81858b;
   --gray-300:rgb(222, 221, 221);
  --black:rgb(0, 0, 0);
  --white: #fff;
  --white-100:#e0e0e0;
  --white-200:#f0f0f1;
  --white-300:rgb(162, 162, 162);
  --white-400:rgb(237, 235, 235);
  --blue-900:#3f4064;
  --blue-800:#3c4b6d;
  --blue-600:#1672dd;
  --red:#d62e4e;
  --red-400:#D32f2f;
  --creamy:#fcf3ea;
  --creamy-200:#fbe7d6;
  --brown-300:#934c0f;
  --green:#72ba2b;
}