.megamenu {
  height: 100%;
  border-bottom: 3px solid;
  border-color: transparent;
  &:hover {
    cursor: pointer;
    border-color: crimson;
    .mega-menu {
      display: flex;
    }
  }
  &:hover .mega-menu {
    display: flex;
  }
}
.mega-menu {
  display: none;
  width: 78%;
  height: 500px;
  /* background-color: lightgoldenrodyellow; */
  position: absolute;
  top: 168px;
  .right-side {
    width: 200px;
    height: 100%;
    border-bottom-right-radius: 15px;
    background-color: rgb(233, 231, 231);
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-size: 13px;
    /* gap: 20px; */
    justify-content: space-evenly;
    & > * {
      width: 200px;
      height: 26.31px;
      display: flex;
      align-items: center;
      gap: 5px;
      /* background-color: blue; */
      padding: 23px 5px;
      transition-duration: 300ms;
    }
  }
}

.right-side > *:hover {
  background-color: whitesmoke;
  color: crimson;
  svg {
    fill: crimson !important;
  }
}

.left-side {
  display: flex;
  width: calc(100% - 200px);
  height: 100%;
  /* background-color: lightcoral; */
  position: absolute;
  right: 200px;
  flex-direction: column;
}

.first-line {
  height: 60px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  font-size: 13px;
}
.left-mobile,
.left-laptop {
  display: none;
  overflow: auto;
  background-color: whitesmoke;
  border-bottom-left-radius: 15px;
  padding-bottom: 7px;
}
.left-mobile .main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.mega-menu:has(.mobile:hover) .left-mobile,
.left-mobile:hover {
  display: block;
}

.radif {
  display: flex;
  flex-direction: column;
  gap: 20px;
  ul {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
    list-style: none;
    .esm {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: bold;
      span {
        &:nth-of-type(1) {
          color: crimson;
        }
      }
    }
  }
  li {
    color: rgb(86, 85, 85);
  }
}
.first-line {
  color: #0d4485;
}

.left-side{
  li:hover{
    color: crimson;
  }
  .esm:hover{
    color: crimson;
  }
}