@font-face {
    font-family: yekan;
    src: url(../../public/fonts/IRANYekanWeb.eot);
    src: url(../../public/fonts/IRANYekanWeb.ttf);
    src: url(../../public/fonts/IRANYekanWeb.woff);
    src: url(../../public/fonts/IRANYekanWeb.woff2);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yekan;
}

.main{
    width: 90%;
    margin: 0 auto;
 
}
